.main-home-div {
    position: relative;
    height: 100vh;
    /* Adjust the height as needed */
}

.home-img-container {
    position: relative;
}

.home-img {
    width: 100%;
    filter: brightness(0.6);
}

.home-text-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    /* Adjust the text color as needed */
}

.popualr-movie-title{
    font-family: 'Oswald', sans-serif !important;
    font-weight: 900;
}

.popular-title-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 80px 20px 80px  ;
    
}

.popular-more{
    font-family: 'Outfit', sans-serif !important;
    font-size: 20px;
    color: #40A2D8;
    text-decoration: none;
    transition: 0.2s ease;
}

.popular-more:hover{
    font-size: 25px;
    font-weight: 500;
}

.scrolling-words-container {
    font-family: 'Oswald', sans-serif !important;
    display: flex;
    align-items: center;
    transition: 1s ease;
    font-size: 7rem;
    font-weight: 900;
}

.scrolling-words-box {
    height: 7rem;
    overflow: hidden;

    ul {
        margin: 0 0.625rem;
        padding: 0;
        transition: transform 1s ease-in-out;
        animation: scrollUp 4s infinite;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            height: 7rem;

        }
    }
}

@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(0%);
    }

    20% {
        transform: translateY(0%);
    }

    30% {
        transform: translateY(0%);
    }

    40% {
        transform: translateY(-33%);
        /* Updated to -50% for better centering */
    }

    50% {
        transform: translateY(-33%);
        /* Updated to -50% for better centering */
    }

    60% {
        transform: translateY(-33%);
        /* Updated to -50% for better centering */
    }

    70% {
        transform: translateY(-67%);
        /* Updated to -100% for better centering */
    }

    80% {
        transform: translateY(-67%);
        /* Updated to -100% for better centering */
    }

    90% {
        transform: translateY(-67%);
        /* Updated to -100% for better centering */
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 1700px) {
    .scrolling-words-container {
        font-size: 4rem;
    }

    .scrolling-words-box {
        height: 4rem;

        ul {
            li {
                height: 4rem;
                /* Updated to 5rem */
            }
        }
    }
}

@media (max-width: 1200px) {
    .scrolling-words-container {
        font-size: 2rem;
    }

    .scrolling-words-box {
        height: 3rem;

        ul {
            li {
                height: 3rem;
            }
        }
    }
}

@media (max-width: 800px) {
    .scrolling-words-container {
        font-size: 40px;
        display: block;
    }

    .scrolling-words-box {
        height: 4rem;
        ul {
            li {
                display: block;
                height: 4rem;
            }
        }
    }

    .home-text-container {
        top: 50%;
    }

    .popular-title-div{
        margin: 50px 35px 50px 38px;
    }
    
}