.main-scroller-div{
    display: flex;
    margin-bottom: 30px;
    position: relative;
}

.popular-movie-div{
    display: grid;
    grid-auto-flow: column;
    height: auto;
    overflow-y: auto;
    overflow-x: scroll;
    padding-block: 2rem;
    gap: 1rem;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    width: 100%;
    margin: 0 auto;

}

.popular-movie-div::-webkit-scrollbar{
    display: none;
}

.popular-movie-image{
    scroll-snap-align: center;
    width: 180px;
    border-radius: 10px;
    transition: 0.2s ease;
}

.scroller-img-text-div{
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.2s ease;
}

.scroller-movie-btn{
    font-family: 'Outfit', sans-serif !important;
    font-size: 20px;
    position: absolute;
    top: 45%;
    color: #40A2D8;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    visibility: hidden;
}

.watchlist-btn{
    position: absolute;
    right: 0;
    border: none;
    background: transparent;
    color: white;
    padding: 10px;
    border-radius: 10px;
    visibility: hidden;
}

.scroller-percentage{
    position: absolute;
    top: 1%;
    left: 1%;
    font-family: 'Outfit', sans-serif !important;
    background-color: rgb(46, 40, 40);
    border-radius: 60px;
    margin: 0;
    font-weight: 600;
    color: white;
    font-size: 13px;
    width: 50px;
}

.CircularProgressbar-text {
    font-size: 25px !important;
}

.scroller-img-text-div:hover .watchlist-btn{
    visibility: visible;
}

.scroller-img-text-div:hover{
    transform: translateY(-20px);
}

.scroller-img-text-div:hover .popular-movie-image{
    filter: blur(1px) brightness(0.5);
}

.scroller-img-text-div:hover .scroller-movie-btn{
    visibility: visible;
}

.scroller-btn {
    border: none;
    background-color: transparent;
    width: 80px;
    position: absolute;
    top: 9%;
    z-index: 999;
    height: 82%;
    transition: background-color 0.3s ease; 
}

.scroller-btn:hover {
    background-color: #40a3d891;
}

.scroller-btn-left {
    left: 0;
}

.scroller-btn-right {
    right: 0;
}

@media (max-width: 850px){

    .popular-movie-image{
        width: 200px;
    }

    .scroller-btn{
        padding-inline: 5px;
        margin: 0;
    }

}