.filter-div {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    padding-inline: 9%;
    padding-top: 30px;
}

.genre-btns-div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    overflow-x: hidden;
}

.genre-btn {
    border: 1px solid black;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.container-title {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 900;
}

.select-item input[type="checkbox"] {
    display: none;
}

.select-item span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #40A2D8;
    border-radius: 10px;
    color: black;
}

.select-item input[type="checkbox"]:checked+span {
    background-color: #40A2D8;
    color: white;
}

@media (max-width: 850px) {
    .filter-div{
        padding-inline: 5%;
    }
}