
.pc-header {
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 38px;
    z-index: 9999;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.11);
}

.pc-header>.brand-name {
    font-weight: 700;
}

.pc-header>ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    height: 100%;
}

.pc-header>ul>li {
    height: inherit;
    position: relative;
}

.pc-header>ul>li>a {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    display: flex;
    height: inherit;
    align-items: center;
    text-decoration: none;
    color: #2C3333;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s ease;
}



.mob-header,
.mob-header-menu {
    display: none;
}

.brand-name{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: #DB4A2B;
    text-decoration: none;
}


@media (max-width: 768px) {
    .pc-header {
        display: none;
    }

    .mob-header {
        height: 91px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 38px;
        position: relative; /* Add this line */
        z-index: 1000; /* Set a higher z-index value */
    }

    .mob-header-menu {
        max-height: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: max-height 0.3s ease;
        position: absolute; /* Add this line */
        top: 91px; /* Adjust the top position as needed */
        left: 0; /* Adjust the left position as needed */
        width: 100%; /* Make it full width */
        background-color: #DB4A2B;
        /* border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px; */
        z-index: 998; /* Set a lower z-index value initially */
    }

    .active-menu {
        max-height: 250px;
        transition: max-height 0.3s ease; /* Add this line for a smooth transition */
        z-index: 999;
    }

    .mob-header-menu>ul {
        list-style: none;
        margin: 0;
        padding: 90px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .mob-header-menu>ul>li>a {
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
}