
.pc-header {
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 38px;
    z-index: 9999;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.11);
    background-color: #0F0F0F;
}

.pc-header>.brand-name {
    font-weight: 700;
}

.pc-header>ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    height: 100%;
}

.pc-header>ul>li {
    height: inherit;
    position: relative;
}

.pc-header>ul>li>a {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    display: flex;
    height: inherit;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.mob-header,
.mob-header-menu {
    display: none;
}

.search-bar{
    width: 0;
}

.brand-name{
    font-family: 'Passion One', sans-serif;
    font-size: 40px;
    color: #40A2D8;
    text-decoration: none;
}

.search-bar-div{
    display: flex;
    margin-right: 20px;
}

.search-div{
    visibility: hidden;
    width: 0;
}


.cross-btn-active{
    border: none;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-bar-active{
    display: flex;
    width: 250px;
    visibility: visible;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-block: 18px;
    transition: width 0.3s ease-in;
}

.symbol-btn{
    display: none;
}

.symbol-btn-active{
    border: none;
    background: transparent;
}




@media (max-width: 768px) {
    .pc-header {
        display: none;
    }

    .mob-header {
        height: 91px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 38px;
        position: relative; 
        z-index: 1000;
        background-color: #0F0F0F;
    }

    .mob-header-menu {
        max-height: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: max-height 0.3s ease;
        position: absolute; 
        top: 91px;
        left: 0; 
        width: 100%; /* Make it full width */
        background-color: #0F0F0F;
        /* border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px; */
        z-index: 998; 
    }

    .active-menu {
        max-height: 250px;
        transition: max-height 0.3s ease; 
        z-index: 999;
    }

    .mob-header-menu>ul {
        list-style: none;
        margin: 0;
        padding: 90px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .mob-header-menu>ul>li>a {
        text-decoration: none;
        color: #40A2D8;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
}