* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: white !important;
    font-family: 'Space Grotesk', sans-serif !important;
    color: #2C3333;
}

html::-webkit-scrollbar {
    display: none;
}